body{
    background-color: #f4f4f4;
}

.container2{
    padding-left: 5%;
}

.filter{
    margin: 1em;
    padding: 1em;
    position: relative;
    height: fit-content;
    width: fit-content;
}
/* Fijar Cabecera tabla*/
.tabla-logs {
    max-height: 300px;
    overflow: auto;
    border: 1px solid;
    display: inline-block;
}

.tabla-logs > table {
    position: relative;
}

.tabla-logs > thead >  tr > th {
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
    border-bottom: 2px solid;
background-color: yellow;
}

th,
td {
    padding: 1rem;
}

/*Posicionar icono lupa dentro del placeholder*/
div.search{
    margin: 1em;
    position: relative;
}
input.form-control {
    padding: 1em 1em 1em 3em;
}
    
i.fa-search {
    position: absolute;
    top: 2px;
    opacity: 0.6;
    padding: 1em;
    display: flex;
    align-items: center;
}

.verticalmenu {
    margin-top: 15px;
    height: 680px;
    overflow-y: scroll;
}
.tabla-logs{
    height: 550px;
}
@media screen and (max-width: 900px) {
    .verticalmenu {
        display: none;
    }

}